@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header{
    grid-area: header;
    border: 1px solid red;
}

.main{
    grid-area: main;
    border: 1px solid red;
}

.footer{
    grid-area: footer;
    border: 1px solid red;
}

.contenedor{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 80vh 10vh;
}


@media (width >= 576px){

    .contenedor{
        grid-template-areas: 
        "header main"
        "footer main";
        grid-template-columns: 20vw 80vw;
        grid-template-rows: 90vh 10vh;
    }

}

